.home-container {
  text-align: center;
  padding: 20px;
  
}

body {
  background-color:#EADBC8;
}

.home-heading {
  font-size: 24px;
  margin-bottom: 20px;
}

.live-feed-box {
  text-align: center;
}

.live-feed-image {
  max-width: 60%;
  height: auto;
}

.subscription-box {
  text-align: center;
}

.subscription-message {
  margin-top: 10px;
}

.subscription-form {
  margin-top: 10px;
}

.thank-you-message {
  margin-top: 5px;
  padding: 5px;
  border-radius: 5px;
  width: 40%;
  display: inline-block;
}

.btn {
  background-color: #ffc591;
  color: #6b3203;
}
.btn:hover {
  background-color:#6b3203;
  color: #ffc591 !important;
}
